.bgImg{
    width: 100%;
    height: 100vh;
    background: url("https://myweb-1301075348.cos.ap-shanghai.myqcloud.com/assets/huanghua.jpg");
    background-size: 100% 100%;
    position: relative;
    font-family: STKaiti, Kaiti SC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workContainer{
    margin-left: 50px;
    width: 850px;
    color: #dfdad3;
    background-color: rgba(0,0,0,0.75);
    // background-image: url('https://myweb-1301075348.cos.ap-shanghai.myqcloud.com/assets/praise_top_bg.png');
    // background-size: 100% 100%;
    opacity: 0.85;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px 10px;
    .header{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 20px;
        align-items: center;
        justify-content: space-between;
        .department{
            margin-left: auto;
            margin-right: 35px;
            font-size: 24px;
        }
        .company{
            font-size: 42px;
        }
        .position{
            // margin-left: auto;
            margin-right: 35px;
        }
    }
    .projects{
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        .ind{
            font-size: 24px;
            display: flex;
        }
        .stack{
            margin-top: 6px;
            font-size: 20px;
            font-style: italic;
            font-weight: bold;
        }
        .content{
            margin-top: 4px;
            font-size: 18px;
            white-space: pre-line;
            line-height: 1.3;
        }
    }
}

.tagContainer{
    position: absolute;
    right: 150px;
    top: 125px;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    // animation-duration: 3s;
    // animation-fill-mode: both;
    // animation-name: tagAnim;
    .showTag{
        // position: absolute;
        // width: 50px;
        // height: 200px;
        padding: 20px 10px;
        background-image: url('https://myweb-1301075348.cos.ap-shanghai.myqcloud.com/assets/bosstag.png');
        background-size: 100% 100%;
        .tagText{
            writing-mode: vertical-rl; /* 文字竖向排列 */
            text-orientation: upright; /* 使每个字保持直立 */
            text-align: center;
            color: white;
            margin: auto;
            font-size: 23px;
        }
    
    
        // mask-image: linear-gradient(to bottom, black 0%, black 100%); /* 设置遮罩 */
        // mask-size: 100% 0; /* 初始遮罩高度为0 */
    }
}

[data-aos="tag4"] {
    height: 0;
    opacity: 0;
}

:global([data-aos="tag4"].aos-animate) {
    height: 152px ;
    opacity: 1;
    // transform: none;
}